In [1]:
import pandas as pd
import numpy as np

# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers

WARNING:tensorflow:From c:\Users\misso\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
abalone_train = pd.read_csv(
    "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv",
    names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Age"])

abalone_train.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
0,0.435,0.335,0.110,0.334,0.1355,0.0775,0.0965,7
1,0.585,0.450,0.125,0.874,0.3545,0.2075,0.2250,6
2,0.655,0.510,0.160,1.092,0.3960,0.2825,0.3700,14
3,0.545,0.425,0.125,0.768,0.2940,0.1495,0.2600,16
4,0.545,0.420,0.130,0.879,0.3740,0.1695,0.2300,13

In [3]:
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop('Age')

In [4]:
abalone_features = np.array(abalone_features)
abalone_features

array([[0.435, 0.335, 0.11 , ..., 0.136, 0.077, 0.097],
       [0.585, 0.45 , 0.125, ..., 0.354, 0.207, 0.225],
       [0.655, 0.51 , 0.16 , ..., 0.396, 0.282, 0.37 ],
       ...,
       [0.53 , 0.42 , 0.13 , ..., 0.374, 0.167, 0.249],
       [0.395, 0.315, 0.105, ..., 0.118, 0.091, 0.119],
       [0.45 , 0.355, 0.12 , ..., 0.115, 0.067, 0.16 ]])

In [5]:
abalone_model = tf.keras.Sequential([
  layers.Dense(64),
  layers.Dense(1)
])

abalone_model.compile(loss = tf.keras.losses.MeanSquaredError(),
                      optimizer = tf.keras.optimizers.Adam())

WARNING:tensorflow:From c:\Users\misso\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [6]:
abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
WARNING:tensorflow:From c:\Users\misso\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

104/104 [==============================] - 2s 3ms/step - loss: 71.2941
Epoch 2/10
104/104 [==============================] - 0s 2ms/step - loss: 14.2535
Epoch 3/10
104/104 [==============================] - 0s 2ms/step - loss: 8.5112
Epoch 4/10
104/104 [==============================] - 0s 2ms/step - loss: 8.0871
Epoch 5/10
104/104 [==============================] - 0s 1ms/step - loss: 7.7019
Epoch 6/10
104/104 [==============================] - 0s 2ms/step - loss: 7.3851
Epoch 7/10
104/104 [==============================] - 0s 2ms/step - loss: 7.1372
Epoch 8/10
104/104 [==============================] - 0s 2ms/step - loss: 6.9439
Epoch 9/10
104/104 [==============================] - 0s 2ms/step - loss: 6.7924
Epoch 10/10
104/104 [==============================] - 0s 2ms/step - loss: 6.6903

In [7]:
normalize = layers.Normalization()

In [8]:
normalize.adapt(abalone_features)

In [9]:
norm_abalone_model = tf.keras.Sequential([
  normalize,
  layers.Dense(64),
  layers.Dense(1)
])

norm_abalone_model.compile(loss = tf.keras.losses.MeanSquaredError(),
                           optimizer = tf.keras.optimizers.Adam())

norm_abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 1s 2ms/step - loss: 93.4123
Epoch 2/10
104/104 [==============================] - 0s 2ms/step - loss: 55.0013
Epoch 3/10
104/104 [==============================] - 0s 2ms/step - loss: 18.0004
Epoch 4/10
104/104 [==============================] - 0s 3ms/step - loss: 6.2156
Epoch 5/10
104/104 [==============================] - 0s 2ms/step - loss: 5.2289
Epoch 6/10
104/104 [==============================] - 0s 2ms/step - loss: 5.0038
Epoch 7/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9677
Epoch 8/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9532
Epoch 9/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9312
Epoch 10/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9842

In [10]:
titanic = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/train.csv")
titanic.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [11]:
titanic_features = titanic.copy()
titanic_labels = titanic_features.pop('survived')

In [12]:
# Because of the different data types and ranges,
# onvert categorical columns to numeric columns, then pass the processed output to your TensorFlow model.
# Create a symbolic input
input = tf.keras.Input(shape=(), dtype=tf.float32)

# Perform a calculation using the input
result = 2*input + 1

# the result doesn't have a value
result

In [14]:
calc = tf.keras.Model(inputs=input, outputs=result)

In [15]:
print(calc(1).numpy())
print(calc(2).numpy())

3.0
5.0