In [1]:
import pandas as pd
import numpy as np

# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers

WARNING:tensorflow:From c:\Users\misso\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
abalone_train = pd.read_csv(
    "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv",
    names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Age"])

abalone_train.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
0,0.435,0.335,0.110,0.334,0.1355,0.0775,0.0965,7
1,0.585,0.450,0.125,0.874,0.3545,0.2075,0.2250,6
2,0.655,0.510,0.160,1.092,0.3960,0.2825,0.3700,14
3,0.545,0.425,0.125,0.768,0.2940,0.1495,0.2600,16
4,0.545,0.420,0.130,0.879,0.3740,0.1695,0.2300,13

In [3]:
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop('Age')

In [4]:
abalone_features = np.array(abalone_features)
abalone_features

array([[0.435, 0.335, 0.11 , ..., 0.136, 0.077, 0.097],
       [0.585, 0.45 , 0.125, ..., 0.354, 0.207, 0.225],
       [0.655, 0.51 , 0.16 , ..., 0.396, 0.282, 0.37 ],
       ...,
       [0.53 , 0.42 , 0.13 , ..., 0.374, 0.167, 0.249],
       [0.395, 0.315, 0.105, ..., 0.118, 0.091, 0.119],
       [0.45 , 0.355, 0.12 , ..., 0.115, 0.067, 0.16 ]])

In [5]:
abalone_model = tf.keras.Sequential([
  layers.Dense(64),
  layers.Dense(1)
])

abalone_model.compile(loss = tf.keras.losses.MeanSquaredError(),
                      optimizer = tf.keras.optimizers.Adam())

WARNING:tensorflow:From c:\Users\misso\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [6]:
abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
WARNING:tensorflow:From c:\Users\misso\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

104/104 [==============================] - 1s 1ms/step - loss: 69.1201
Epoch 2/10
104/104 [==============================] - 0s 1ms/step - loss: 12.9481
Epoch 3/10
104/104 [==============================] - 0s 952us/step - loss: 8.2657
Epoch 4/10
104/104 [==============================] - 0s 1ms/step - loss: 7.8267
Epoch 5/10
104/104 [==============================] - 0s 1ms/step - loss: 7.4335
Epoch 6/10
104/104 [==============================] - 0s 1ms/step - loss: 7.1012
Epoch 7/10
104/104 [==============================] - 0s 967us/step - loss: 6.8515
Epoch 8/10
104/104 [==============================] - 0s 1ms/step - loss: 6.6742
Epoch 9/10
104/104 [==============================] - 0s 1ms/step - loss: 6.5401
Epoch 10/10
104/104 [==============================] - 0s 1ms/step - loss: 6.4413

In [7]:
normalize = layers.Normalization()

In [8]:
normalize.adapt(abalone_features)

In [9]:
norm_abalone_model = tf.keras.Sequential([
  normalize,
  layers.Dense(64),
  layers.Dense(1)
])

norm_abalone_model.compile(loss = tf.keras.losses.MeanSquaredError(),
                           optimizer = tf.keras.optimizers.Adam())

norm_abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 1s 2ms/step - loss: 92.9260
Epoch 2/10
104/104 [==============================] - 0s 1ms/step - loss: 54.8422
Epoch 3/10
104/104 [==============================] - 0s 1ms/step - loss: 17.3234
Epoch 4/10
104/104 [==============================] - 0s 1ms/step - loss: 5.8618
Epoch 5/10
104/104 [==============================] - 0s 1ms/step - loss: 5.0308
Epoch 6/10
104/104 [==============================] - 0s 1ms/step - loss: 4.9897
Epoch 7/10
104/104 [==============================] - 0s 1ms/step - loss: 4.9888
Epoch 8/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9915
Epoch 9/10
104/104 [==============================] - 0s 1ms/step - loss: 4.9456
Epoch 10/10
104/104 [==============================] - 0s 1ms/step - loss: 4.9500

In [10]:
titanic = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/train.csv")
titanic.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [11]:
titanic_features = titanic.copy()
titanic_labels = titanic_features.pop('survived')

In [12]:
# Because of the different data types and ranges,
# onvert categorical columns to numeric columns, then pass the processed output to your TensorFlow model.
# Create a symbolic input
input = tf.keras.Input(shape=(), dtype=tf.float32)

# Perform a calculation using the input
result = 2*input + 1

# the result doesn't have a value
result

In [13]:
calc = tf.keras.Model(inputs=input, outputs=result)

In [14]:
print(calc(1).numpy())
print(calc(2).numpy())

3.0
5.0

In [16]:
titanic_features

,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,female,35.0,1,0,53.1000,First,C,Southampton,n
4,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
...,...,...,...,...,...,...,...,...,...
622,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
623,male,25.0,0,0,7.0500,Third,unknown,Southampton,y
624,female,19.0,0,0,30.0000,First,B,Southampton,y
625,female,28.0,1,2,23.4500,Third,unknown,Southampton,n
626,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y

In [17]:
inputs = {}

for name, column in titanic_features.items():
  dtype = column.dtype
  if dtype == object:
    dtype = tf.string
  else:
    dtype = tf.float32

  inputs[name] = tf.keras.Input(shape=(1,), name=name, dtype=dtype)

inputs

{'sex': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'sex')>,
 'age': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'age')>,
 'n_siblings_spouses': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'n_siblings_spouses')>,
 'parch': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'parch')>,
 'fare': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'fare')>,
 'class': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'class')>,
 'deck': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'deck')>,
 'embark_town': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'embark_town')>,
 'alone': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'alone')>}

In [20]:
titanic

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
...,...,...,...,...,...,...,...,...,...,...
622,0,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
623,0,male,25.0,0,0,7.0500,Third,unknown,Southampton,y
624,1,female,19.0,0,0,30.0000,First,B,Southampton,y
625,0,female,28.0,1,2,23.4500,Third,unknown,Southampton,n
626,0,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y

In [22]:
numeric_inputs = {name:input for name,input in inputs.items()
                  if input.dtype==tf.float32}
numeric_inputs

{'age': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'age')>,
 'n_siblings_spouses': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'n_siblings_spouses')>,
 'parch': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'parch')>,
 'fare': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'fare')>}

In [25]:
x = layers.Concatenate()(list(numeric_inputs.values()))
x

In [23]:
norm = layers.Normalization() # creates a normalization layer.
norm.adapt(np.array(titanic[numeric_inputs.keys()]))
all_numeric_inputs = norm(x)

all_numeric_inputs

In [21]:
numeric_inputs

{'age': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'age')>,
 'n_siblings_spouses': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'n_siblings_spouses')>,
 'parch': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'parch')>,
 'fare': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'fare')>}

In [32]:
preprocessed_inputs = [all_numeric_inputs]
preprocessed_inputs

In [33]:
for name, input in inputs.items():
  if input.dtype == tf.float32:
    continue

# creates a lookup layer to map unique string values in the column to integer indices (vocabulary).
  lookup = layers.StringLookup(vocabulary=np.unique(titanic_features[name]))
#  creates a one-hot encoding layer to convert integer indices to one-hot vectors. 
  one_hot = layers.CategoryEncoding(num_tokens=lookup.vocabulary_size())

  x = lookup(input)
  x = one_hot(x)
  preprocessed_inputs.append(x)

In [29]:
!pip install pydot

Collecting pydot
  Downloading pydot-2.0.0-py3-none-any.whl.metadata (9.6 kB)
Requirement already satisfied: pyparsing>=3 in c:\users\misso\appdata\local\programs\python\python311\lib\site-packages (from pydot) (3.1.1)
Downloading pydot-2.0.0-py3-none-any.whl (22 kB)
Installing collected packages: pydot
Successfully installed pydot-2.0.0

In [30]:
!pip install graphviz

Collecting graphviz
  Downloading graphviz-0.20.1-py3-none-any.whl (47 kB)
     ---------------------------------------- 0.0/47.0 kB ? eta -:--:--
     ---------------------------------------- 47.0/47.0 kB 1.1 MB/s eta 0:00:00
Installing collected packages: graphviz
Successfully installed graphviz-0.20.1

In [31]:
preprocessed_inputs_cat = layers.Concatenate()(preprocessed_inputs)

titanic_preprocessing = tf.keras.Model(inputs, preprocessed_inputs_cat)

tf.keras.utils.plot_model(model = titanic_preprocessing , rankdir="LR", dpi=72, show_shapes=True)

You must install pydot (`pip install pydot`) and install graphviz (see instructions at https://graphviz.gitlab.io/download/) for plot_model to work.

In [34]:
titanic_features

,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,female,35.0,1,0,53.1000,First,C,Southampton,n
4,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
...,...,...,...,...,...,...,...,...,...
622,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
623,male,25.0,0,0,7.0500,Third,unknown,Southampton,y
624,female,19.0,0,0,30.0000,First,B,Southampton,y
625,female,28.0,1,2,23.4500,Third,unknown,Southampton,n
626,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y

In [38]:
titanic_features_dict = {name: np.array(value) 
                         for name, value in titanic_features.items()}
titanic_features_dict.items()

dict_items([('sex', array(['male', 'female', 'female', 'female', 'male', 'male', 'female',
       'female', 'female', 'male', 'male', 'female', 'male', 'male',
       'female', 'female', 'male', 'male', 'female', 'male', 'male',
       'female', 'male', 'male', 'female', 'female', 'male', 'male',
       'male', 'male', 'female', 'female', 'female', 'male', 'female',
       'male', 'male', 'male', 'female', 'male', 'female', 'female',
       'male', 'male', 'female', 'male', 'male', 'male', 'female', 'male',
       'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'female', 'male', 'male', 'female',
       'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male',
       'male', 'male', 'female', 'male', 'female', 'male', 'male', 'male',
       'male', 'male', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
       'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male',
       'male', 'male', 'female', 'female', 'male', 'male', 'female',
       'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
       'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
       'male', 'female', 'male', 'male', 'female', 'male', 'male',
       'female', 'female', 'male', 'male', 'female', 'female', 'male',
       'female', 'female', 'male', 'female', 'female', 'male', 'male',
       'male', 'female', 'male', 'male', 'female', 'male', 'female',
       'male', 'male', 'female', 'female', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'female', 'female', 'male', 'male',
       'female', 'male', 'male', 'male', 'female', 'female', 'male',
       'male', 'male', 'female', 'male', 'female', 'male', 'female',
       'female', 'female', 'female', 'male', 'male', 'male', 'female',
       'male', 'male', 'male', 'female', 'female', 'male', 'male',
       'female', 'male', 'female', 'female', 'female', 'male', 'male',
       'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
       'female', 'female', 'male', 'female', 'male', 'female', 'female',
       'male', 'female', 'female', 'female', 'female', 'male', 'male',
       'female', 'female', 'female', 'male', 'male', 'female', 'male',
       'female', 'male', 'female', 'female', 'male', 'female', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'female', 'female',
       'female', 'male', 'male', 'male', 'male', 'female', 'female',
       'female', 'female', 'male', 'male', 'female', 'male', 'male',
       'female', 'female', 'female', 'female', 'male', 'male', 'female',
       'male', 'male', 'female', 'male', 'male', 'male', 'male', 'male',
       'female', 'male', 'male', 'female', 'female', 'male', 'female',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'female', 'male', 'male', 'male', 'male', 'female', 'female',
       'female', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
       'male', 'female', 'female', 'male', 'male', 'female', 'female',
       'male', 'male', 'female', 'male', 'female', 'male', 'male',
       'female', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
       'male', 'female', 'female', 'male', 'male', 'male', 'female',
       'male', 'male', 'female', 'male', 'female', 'female', 'male',
       'male', 'male', 'male', 'male', 'female', 'male', 'female',
       'female', 'male', 'female', 'male', 'male', 'female', 'male',
       'male', 'female', 'female', 'male', 'female', 'male', 'female',
       'male', 'male', 'female', 'male', 'male', 'female', 'male',
       'female', 'female', 'female', 'male', 'female', 'female', 'female',
       'female', 'female', 'male', 'female', 'male', 'male', 'male',
       'male', 'male', 'female', 'female', 'male', 'female', 'female',
       'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
       'female', 'male', 'male', 'female', 'female', 'male', 'male',
       'male', 'male', 'male', 'female', 'male', 'female', 'male', 'male',
       'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'female', 'female', 'female', 'male', 'female', 'male', 'female',
       'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
       'male', 'male', 'male', 'female', 'female', 'male', 'female',
       'male', 'male', 'male', 'female', 'male', 'male', 'female', 'male',
       'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
       'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male',
       'male', 'female', 'male', 'female', 'male', 'male', 'female',
       'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male',
       'male', 'male', 'male', 'female', 'female', 'male', 'male',
       'female', 'male', 'male', 'female', 'male', 'female', 'female',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'female', 'male', 'male', 'female', 'male', 'male', 'male',
       'female', 'male', 'male', 'male', 'male', 'male', 'female', 'male',
       'male', 'male', 'male', 'female', 'male', 'male', 'female',
       'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'female', 'male', 'male', 'male', 'female', 'female', 'male',
       'female', 'male', 'female', 'male', 'male', 'male', 'male',
       'female', 'male', 'male', 'male', 'male', 'male', 'female', 'male',
       'male', 'female', 'male', 'male', 'male', 'male', 'male', 'female',
       'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male',
       'female', 'male', 'male', 'male', 'male', 'male', 'female', 'male',
       'female', 'female', 'female', 'male', 'female', 'male', 'male',
       'female', 'female', 'male', 'male', 'male', 'female', 'male',
       'male', 'female', 'female', 'male', 'male', 'male', 'female',
       'male', 'male', 'female', 'female', 'male'], dtype=object)), ('age', array([22.  , 38.  , 26.  , 35.  , 28.  ,  2.  , 27.  , 14.  ,  4.  ,
       20.  , 39.  , 14.  ,  2.  , 28.  , 31.  , 28.  , 35.  , 28.  ,
       38.  , 28.  , 19.  , 28.  , 28.  , 40.  , 28.  , 28.  , 66.  ,
       28.  , 42.  , 28.  , 14.  , 40.  , 27.  , 28.  ,  3.  , 28.  ,
       28.  , 28.  , 18.  ,  7.  , 49.  , 29.  , 65.  , 28.  , 21.  ,
       28.5 , 11.  , 22.  , 38.  , 45.  ,  4.  , 28.  , 19.  , 17.  ,
       26.  , 32.  , 21.  , 32.  , 25.  , 28.  , 28.  ,  0.83, 30.  ,
       22.  , 29.  , 28.  , 28.  , 16.  , 28.  , 23.  , 24.  , 46.  ,
       59.  , 28.  , 71.  , 23.  , 34.  , 34.  , 28.  , 28.  , 21.  ,
       33.  , 37.  , 28.  , 28.  , 28.  , 47.  , 14.5 , 22.  , 17.  ,
       21.  , 70.5 , 29.  , 24.  , 28.  , 32.5 , 32.5 , 28.  , 24.  ,
       45.  , 20.  , 47.  , 23.  , 19.  , 37.  , 16.  , 24.  , 28.  ,
       22.  , 19.  , 18.  ,  9.  , 51.  , 55.5 , 40.5 , 28.  , 51.  ,
       16.  , 28.  , 28.  , 44.  , 26.  , 17.  ,  1.  , 28.  , 28.  ,
        4.  , 18.  , 28.  , 50.  , 30.  , 36.  , 28.  , 28.  ,  9.  ,
        4.  , 28.  , 45.  , 36.  , 32.  , 19.  ,  3.  , 44.  , 58.  ,
       28.  , 28.  , 24.  , 28.  , 28.  , 34.  ,  2.  , 32.  , 26.  ,
       16.  , 40.  , 35.  , 22.  , 28.  , 31.  , 27.  , 42.  , 30.  ,
       16.  , 51.  , 22.  , 19.  , 20.5 , 18.  , 28.  , 35.  , 29.  ,
       59.  , 28.  , 44.  , 19.  , 33.  , 28.  , 28.  , 22.  , 30.  ,
       44.  , 24.  , 28.  , 29.  , 30.  , 41.  , 28.  , 35.  , 50.  ,
       28.  ,  3.  , 40.  , 28.  , 36.  , 16.  , 25.  , 58.  , 35.  ,
       28.  , 25.  , 41.  , 37.  , 28.  , 63.  , 45.  , 28.  ,  7.  ,
       35.  , 28.  , 16.  , 28.  , 26.  , 36.  , 24.  , 28.  , 50.  ,
       28.  , 19.  , 28.  , 28.  , 28.  , 17.  , 30.  , 30.  , 24.  ,
       18.  , 26.  , 28.  , 43.  , 24.  , 31.  , 40.  , 22.  , 27.  ,
       22.  , 28.  , 36.  , 61.  , 31.  , 28.  , 38.  , 28.  , 28.  ,
       29.  , 45.  , 45.  , 28.  , 25.  , 36.  , 24.  , 40.  , 28.  ,
       15.  , 25.  , 28.  , 28.  , 22.  , 38.  , 28.  , 28.  , 40.  ,
       29.  , 45.  , 35.  , 28.  , 60.  , 28.  , 28.  , 24.  , 18.  ,
       19.  , 28.  , 27.  , 19.  , 42.  , 32.  , 28.  , 18.  ,  1.  ,
       28.  , 17.  , 36.  , 21.  , 23.  , 24.  , 22.  , 31.  , 46.  ,
       23.  , 39.  , 26.  , 28.  , 34.  ,  3.  , 21.  , 28.  , 28.  ,
       28.  , 28.  , 44.  , 28.  , 34.  , 18.  , 30.  , 28.  , 21.  ,
       18.  , 19.  , 28.  , 32.  , 28.  , 28.  , 42.  , 17.  , 50.  ,
       14.  , 24.  , 64.  , 31.  , 45.  , 20.  , 28.  , 28.  , 34.  ,
        5.  , 52.  , 36.  , 30.  , 49.  , 29.  , 65.  , 28.  , 48.  ,
       34.  , 47.  , 28.  , 38.  , 56.  , 28.  ,  0.75, 28.  , 33.  ,
       23.  , 28.  , 34.  , 29.  ,  2.  ,  9.  , 28.  , 63.  , 25.  ,
       28.  , 35.  , 58.  ,  9.  , 28.  , 71.  , 21.  , 25.  , 17.  ,
       21.  , 37.  , 18.  , 33.  , 28.  , 26.  , 54.  , 24.  , 47.  ,
       34.  , 36.  , 32.  , 30.  , 22.  , 44.  , 28.  , 40.5 , 50.  ,
       28.  , 23.  ,  2.  , 17.  , 28.  , 30.  ,  7.  , 45.  , 30.  ,
       22.  , 36.  ,  9.  , 11.  , 50.  , 19.  , 28.  , 33.  , 17.  ,
       27.  , 28.  , 22.  , 48.  , 28.  , 39.  , 36.  , 28.  , 40.  ,
       28.  , 24.  , 19.  , 29.  , 32.  , 62.  , 53.  , 36.  , 16.  ,
       34.  , 25.  , 36.  , 47.  , 60.  , 28.  , 35.  , 52.  , 47.  ,
       28.  , 37.  , 36.  , 28.  , 49.  , 28.  , 49.  , 35.  , 36.  ,
       30.  , 27.  , 22.  , 40.  , 39.  , 28.  , 28.  , 35.  , 24.  ,
       34.  , 26.  , 20.  , 61.  , 57.  , 21.  , 26.  , 28.  , 80.  ,
       51.  , 32.  ,  9.  , 28.  , 32.  , 41.  , 28.  , 20.  , 28.  ,
        0.75, 48.  , 28.  , 23.  , 28.  , 18.  , 21.  , 24.  , 28.  ,
       32.  , 50.  , 47.  , 36.  , 20.  , 25.  , 28.  , 43.  , 40.  ,
       31.  , 31.  , 28.  , 18.  , 18.  , 36.  , 27.  , 20.  , 14.  ,
       60.  , 19.  , 18.  , 15.  , 31.  ,  4.  , 28.  , 60.  , 28.  ,
       49.  , 35.  , 25.  , 39.  , 22.  , 28.  , 24.  , 28.  , 48.  ,
       29.  , 19.  , 38.  , 27.  , 28.  , 33.  ,  6.  , 50.  , 27.  ,
       30.  , 25.  , 25.  , 29.  , 11.  , 28.  , 23.  , 23.  , 35.  ,
       28.  , 28.  , 36.  , 21.  , 24.  , 70.  ,  4.  ,  6.  , 33.  ,
       23.  , 48.  , 28.  , 34.  , 28.  , 41.  , 20.  , 51.  , 28.  ,
       28.  , 32.  , 48.  , 57.  , 18.  , 28.  ,  5.  , 17.  , 29.  ,
       28.  , 25.  ,  1.  , 46.  , 28.  , 16.  , 28.  , 28.  , 25.  ,
       39.  , 49.  , 31.  , 30.  , 30.  , 34.  , 31.  , 11.  , 31.  ,
       39.  , 39.  , 33.  , 26.  , 39.  , 35.  , 30.5 , 28.  , 23.  ,
       31.  , 10.  , 52.  , 27.  ,  2.  , 28.  , 28.  , 28.  , 15.  ,
       28.  , 23.  , 18.  , 39.  , 21.  , 28.  , 28.  , 16.  , 30.  ,
       34.5 , 42.  , 28.  , 35.  , 28.  , 28.  ,  4.  , 16.  , 18.  ,
       45.  , 51.  , 24.  , 41.  , 24.  , 42.  , 27.  , 31.  ,  4.  ,
       26.  , 47.  , 33.  , 47.  , 28.  , 15.  , 20.  , 19.  , 28.  ,
       22.  , 28.  , 25.  , 19.  , 28.  , 32.  ])), ('n_siblings_spouses', array([1, 1, 0, 1, 0, 3, 0, 1, 1, 0, 1, 0, 4, 0, 1, 0, 0, 0, 1, 0, 3, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 2, 1, 4, 1, 1, 0, 0,
       0, 0, 5, 0, 0, 1, 3, 1, 0, 4, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 3, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 4, 0, 0, 4, 1, 3, 0, 0, 0,
       8, 0, 4, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 8, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 3, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 2, 0, 0, 1, 1, 0, 0, 0, 0, 0, 4, 0, 0, 0, 4, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 4, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 2, 1, 0, 1, 1, 0, 1, 0, 0, 1, 8, 0, 0, 1, 2, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 5, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 3, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 2, 1, 0, 1, 0, 0, 0, 0, 2, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 0, 1, 1, 0, 5, 0, 0, 1, 3,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 4, 4, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 1, 0, 0, 2, 1, 0,
       0, 0, 0, 0, 2, 0, 1, 2, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 5, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 3, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 3, 1, 0, 4, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 8, 0, 0, 1, 4, 0, 0, 1, 0, 0, 2, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], dtype=int64)), ('parch', array([0, 0, 0, 0, 0, 1, 2, 0, 1, 0, 5, 0, 1, 0, 0, 0, 0, 0, 5, 0, 2, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 2, 0, 0, 0, 2, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       0, 3, 0, 2, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0,
       0, 2, 0, 0, 2, 0, 1, 0, 0, 2, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       2, 0, 2, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 2, 0, 1, 0, 2, 0, 0, 1, 0, 2, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 2, 1, 0, 1, 0, 2, 1, 0, 0, 1, 2, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 4, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 2, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 2, 3, 4, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 1, 2, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 2, 0, 2, 0, 0, 2, 2, 2, 2, 0, 0, 0, 1, 2,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 5, 0, 0, 0,
       2, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 5, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 2, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1,
       1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2,
       0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 1, 2, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 2, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 2, 0, 1, 0, 2, 1, 1, 1, 0, 3, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0], dtype=int64)), ('fare', array([  7.25 ,  71.283,   7.925,  53.1  ,   8.458,  21.075,  11.133,
        30.071,  16.7  ,   8.05 ,  31.275,   7.854,  29.125,  13.   ,
        18.   ,   7.225,  26.   ,  35.5  ,  31.387,   7.225, 263.   ,
         7.879,   7.896,  27.721, 146.521,   7.75 ,  10.5  ,  82.171,
        52.   ,   7.229,  11.242,   9.475,  21.   ,   7.896,  41.579,
         8.05 ,  15.5  ,  21.679,  17.8  ,  39.688,  76.729,  26.   ,
        61.979,  35.5  ,  10.5  ,   7.229,  46.9  ,   7.229,  80.   ,
        83.475,  27.9  ,  15.246,   8.158,   7.925,   8.662,  10.5  ,
        73.5  ,  56.496,   7.65 ,   7.896,   8.05 ,  29.   ,  12.475,
         9.   ,   9.5  ,   7.787,  47.1  ,  34.375,   8.05 , 263.   ,
         8.05 ,  61.175,   7.25 ,   8.05 ,  34.654,  63.358,  23.   ,
        26.   ,   7.896,   7.896,  77.287,   8.654,   7.925,   7.896,
         7.775,  24.15 ,  52.   ,  14.454,   8.05 ,  14.458,   7.925,
         7.75 ,  21.   , 247.521,   8.05 ,  30.071,  13.   ,   7.75 ,
         7.142,   6.975,   7.05 ,  14.5  ,  15.046,  26.283,  53.1  ,
         9.217,  79.2  ,  15.246,   7.75 ,   6.75 ,  11.5  ,  34.375,
        12.525,   8.05 ,  14.5  ,   7.312,  61.379,   7.733,   8.662,
        69.55 ,  16.1  ,   7.775,   8.662,  39.688,  55.   ,  56.496,
        29.125,   7.854,  25.467,  28.712,  13.   ,   0.   ,  69.55 ,
        15.05 ,  31.387,  22.025,  15.5  ,  26.55 ,   7.896,  13.   ,
         7.854,  26.   ,  27.721, 146.521,   7.75 ,   7.75 ,  13.   ,
         9.5  ,  69.55 ,   6.496,  10.463,  15.85 ,  18.788,   7.75 ,
        31.   ,  21.   ,   7.25 ,   7.75 , 113.275,   7.925,  27.   ,
        10.5  ,   8.05 ,   8.05 ,   9.35 ,  10.5  ,   7.25 ,  13.   ,
        25.467,  83.475,   7.775,  13.5  ,   7.55 ,  26.   ,  10.5  ,
        12.275,  14.454,  15.5  ,   7.125,   7.225,  90.   ,  14.5  ,
         7.25 ,  10.463,  16.1  ,  20.212,  79.2  , 512.329,  26.   ,
         7.75 ,  31.387,   0.   ,   7.75 ,  10.5  ,  39.688,   7.775,
       153.463, 135.633,  31.   ,   0.   ,  19.5  ,  29.7  ,   7.75 ,
        77.958,   7.75 ,   0.   ,  29.125,  20.25 ,   7.854,   9.5  ,
        26.   ,  78.85 ,  12.875,   7.896,  30.5  , 247.521,   7.75 ,
         0.   ,  12.35 ,   8.05 , 110.883, 108.9  ,  24.   ,  56.929,
        83.158, 262.375,  26.   ,   7.896,  26.25 ,  26.   , 164.867,
       134.5  ,   7.25 ,   7.896,  29.   ,  69.55 , 135.633,   6.237,
        20.525,  23.25 , 153.463, 133.65 ,   7.896,  66.6  ,   8.05 ,
        35.5  ,  13.   ,  13.   ,  13.   ,  13.   ,  13.   ,  16.1  ,
         7.229,  17.8  ,   7.225,   9.5  ,  55.   ,  13.   ,   7.879,
         7.879,  27.9  ,  27.721,  14.454,   7.05 ,  15.5  ,  75.25 ,
         7.229,   7.75 ,  69.3  ,   6.496,   8.05 ,  82.171, 211.5  ,
         7.775, 227.525,   7.925,   7.896,  73.5  ,  46.9  ,   7.729,
        12.   , 120.   ,   7.796, 113.275,  16.7  ,   7.796,   7.854,
        26.   ,  10.5  ,   7.925,   8.05 ,  15.85 ,  21.   ,  18.75 ,
         7.775,  25.467,   7.896,   6.858,   0.   ,   7.925,   8.05 ,
        32.5  ,  13.   ,  13.   ,   7.896,   7.733,  20.212,  26.   ,
         7.75 ,   8.05 ,  26.55 ,  16.1  ,  26.   ,   7.125,  55.9  ,
       120.   ,  18.75 , 263.   ,  10.5  ,  26.25 ,   9.5  ,  13.   ,
         8.113,  26.55 ,  19.258,  30.5  ,  27.75 ,  27.75 ,  89.104,
         7.896,  26.55 ,  51.862,  26.55 ,   8.05 ,  38.5  ,   8.05 ,
         7.05 ,  26.55 ,   7.725,  19.258,   7.25 ,  27.75 ,  13.792,
        52.   ,  21.   ,   7.046,  12.287,  46.9  ,   0.   ,   9.588,
        91.079,  25.467,  90.   ,  29.7  ,  15.9  ,  19.967,  49.504,
         8.05 , 151.55 ,   8.662,   7.75 ,   9.588, 108.9  ,  26.   ,
        26.55 ,  56.496,  59.4  ,   7.496,  34.021,  10.5  ,  26.   ,
         7.896,  93.5  ,   7.896,  57.979,   7.229,   7.75 ,  10.5  ,
       221.779,  11.5  ,  26.   ,   7.229,  22.358,   8.662,  26.25 ,
        26.55 , 106.425,  49.5  ,  71.   ,  31.275,  31.275, 106.425,
        26.   ,  13.863,  20.525, 110.883,  26.   ,   7.829,   7.775,
        39.6  , 227.525,  79.65 ,  17.4  ,   7.75 ,   7.896,   8.05 ,
        24.15 ,   7.896,  21.075,   7.854,  10.5  ,  51.479,  26.387,
         8.05 ,  13.   ,  30.   ,  40.125,  15.   ,  79.2  ,   8.05 ,
         7.125,  78.267,   7.25 ,   7.75 ,  26.   ,  24.15 ,  33.   ,
         0.   ,   7.225,  56.929,  26.55 ,  15.55 ,   7.896,  30.5  ,
        41.579, 153.463,  31.275,   7.05 ,  15.5  ,   8.05 ,  65.   ,
        14.4  ,  10.5  ,  15.742,  32.321,  12.35 ,  77.958,   7.896,
         7.733,  30.   ,   7.054,  30.5  ,  27.9  ,  13.   ,   7.925,
        39.688,  16.1  ,   7.854,  56.496,  19.258,  76.729,   7.55 ,
         7.55 ,   7.896,  23.   ,   8.433,  73.5  ,   7.896,  15.5  ,
       133.65 ,  25.587,   7.496,   7.925,  13.   ,   7.775,   8.05 ,

In [39]:
features_dict = {name:values[:1] for name, values in titanic_features_dict.items()}
titanic_preprocessing(features_dict)

<tf.Tensor: shape=(1, 28), dtype=float32, numpy=
array([[-0.61 ,  0.395, -0.479, -0.497,  0.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  1.   ,
         0.   ,  0.   ,  1.   ,  0.   ]], dtype=float32)>

In [40]:
def titanic_model(preprocessing_head, inputs):
  body = tf.keras.Sequential([
    layers.Dense(64),
    layers.Dense(1)
  ])

  preprocessed_inputs = preprocessing_head(inputs)
  result = body(preprocessed_inputs)
  model = tf.keras.Model(inputs, result)

  model.compile(loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                optimizer=tf.keras.optimizers.Adam())
  return model

titanic_model = titanic_model(titanic_preprocessing, inputs)

In [41]:
titanic_model.fit(x=titanic_features_dict, y=titanic_labels, epochs=10)

Epoch 1/10
20/20 [==============================] - 1s 3ms/step - loss: 0.6351
Epoch 2/10
20/20 [==============================] - 0s 3ms/step - loss: 0.5597
Epoch 3/10
20/20 [==============================] - 0s 2ms/step - loss: 0.5131
Epoch 4/10
20/20 [==============================] - 0s 2ms/step - loss: 0.4800
Epoch 5/10
20/20 [==============================] - 0s 1ms/step - loss: 0.4595
Epoch 6/10
20/20 [==============================] - 0s 2ms/step - loss: 0.4441
Epoch 7/10
20/20 [==============================] - 0s 2ms/step - loss: 0.4371
Epoch 8/10
20/20 [==============================] - 0s 1ms/step - loss: 0.4299
Epoch 9/10
20/20 [==============================] - 0s 3ms/step - loss: 0.4273
Epoch 10/10
20/20 [==============================] - 0s 2ms/step - loss: 0.4236

In [ ]:
titanic_model.save('test')
reloaded = tf.keras.models.load_model('test')

In [ ]:
features_dict = {name:values[:1] for name, values in titanic_features_dict.items()}

before = titanic_model(features_dict)
after = reloaded(features_dict)
assert (before-after)<1e-3
print(before)
print(after)

Using tf.data

In [46]:
import itertools

def slices(features):
  for i in itertools.count():
    # For each feature take index `i`
    example = {name:values[i] for name, values in features.items()}
    yield example

In [48]:
titanic_features_dict

{'sex': array(['male', 'female', 'female', 'female', 'male', 'male', 'female',
        'female', 'female', 'male', 'male', 'female', 'male', 'male',
        'female', 'female', 'male', 'male', 'female', 'male', 'male',
        'female', 'male', 'male', 'female', 'female', 'male', 'male',
        'male', 'male', 'female', 'female', 'female', 'male', 'female',
        'male', 'male', 'male', 'female', 'male', 'female', 'female',
        'male', 'male', 'female', 'male', 'male', 'male', 'female', 'male',
        'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male',
        'male', 'male', 'male', 'male', 'female', 'male', 'male', 'female',
        'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male',
        'male', 'male', 'female', 'male', 'female', 'male', 'male', 'male',
        'male', 'male', 'male', 'female', 'male', 'female', 'male',
        'female', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
        'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male',
        'male', 'male', 'female', 'female', 'male', 'male', 'female',
        'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
        'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
        'male', 'female', 'male', 'male', 'female', 'male', 'male',
        'female', 'female', 'male', 'male', 'female', 'female', 'male',
        'female', 'female', 'male', 'female', 'female', 'male', 'male',
        'male', 'female', 'male', 'male', 'female', 'male', 'female',
        'male', 'male', 'female', 'female', 'male', 'male', 'male', 'male',
        'male', 'male', 'male', 'male', 'female', 'female', 'male', 'male',
        'female', 'male', 'male', 'male', 'female', 'female', 'male',
        'male', 'male', 'female', 'male', 'female', 'male', 'female',
        'female', 'female', 'female', 'male', 'male', 'male', 'female',
        'male', 'male', 'male', 'female', 'female', 'male', 'male',
        'female', 'male', 'female', 'female', 'female', 'male', 'male',
        'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
        'female', 'female', 'male', 'female', 'male', 'female', 'female',
        'male', 'female', 'female', 'female', 'female', 'male', 'male',
        'female', 'female', 'female', 'male', 'male', 'female', 'male',
        'female', 'male', 'female', 'female', 'male', 'female', 'male',
        'male', 'male', 'male', 'male', 'male', 'male', 'female', 'female',
        'female', 'male', 'male', 'male', 'male', 'female', 'female',
        'female', 'female', 'male', 'male', 'female', 'male', 'male',
        'female', 'female', 'female', 'female', 'male', 'male', 'female',
        'male', 'male', 'female', 'male', 'male', 'male', 'male', 'male',
        'female', 'male', 'male', 'female', 'female', 'male', 'female',
        'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
        'female', 'male', 'male', 'male', 'male', 'female', 'female',
        'female', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
        'male', 'female', 'female', 'male', 'male', 'female', 'female',
        'male', 'male', 'female', 'male', 'female', 'male', 'male',
        'female', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
        'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
        'male', 'female', 'female', 'male', 'male', 'male', 'female',
        'male', 'male', 'female', 'male', 'female', 'female', 'male',
        'male', 'male', 'male', 'male', 'female', 'male', 'female',
        'female', 'male', 'female', 'male', 'male', 'female', 'male',
        'male', 'female', 'female', 'male', 'female', 'male', 'female',
        'male', 'male', 'female', 'male', 'male', 'female', 'male',
        'female', 'female', 'female', 'male', 'female', 'female', 'female',
        'female', 'female', 'male', 'female', 'male', 'male', 'male',
        'male', 'male', 'female', 'female', 'male', 'female', 'female',
        'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
        'female', 'male', 'male', 'female', 'female', 'male', 'male',
        'male', 'male', 'male', 'female', 'male', 'female', 'male', 'male',
        'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
        'female', 'female', 'female', 'male', 'female', 'male', 'female',
        'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
        'male', 'male', 'male', 'female', 'female', 'male', 'female',
        'male', 'male', 'male', 'female', 'male', 'male', 'female', 'male',
        'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
        'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
        'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male',
        'male', 'female', 'male', 'female', 'male', 'male', 'female',
        'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male',
        'male', 'male', 'male', 'female', 'female', 'male', 'male',
        'female', 'male', 'male', 'female', 'male', 'female', 'female',
        'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
        'female', 'male', 'male', 'female', 'male', 'male', 'male',
        'female', 'male', 'male', 'male', 'male', 'male', 'female', 'male',
        'male', 'male', 'male', 'female', 'male', 'male', 'female',
        'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
        'female', 'male', 'male', 'male', 'female', 'female', 'male',
        'female', 'male', 'female', 'male', 'male', 'male', 'male',
        'female', 'male', 'male', 'male', 'male', 'male', 'female', 'male',
        'male', 'female', 'male', 'male', 'male', 'male', 'male', 'female',
        'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male',
        'female', 'male', 'male', 'male', 'male', 'male', 'female', 'male',
        'female', 'female', 'female', 'male', 'female', 'male', 'male',
        'female', 'female', 'male', 'male', 'male', 'female', 'male',
        'male', 'female', 'female', 'male', 'male', 'male', 'female',
        'male', 'male', 'female', 'female', 'male'], dtype=object),
 'age': array([22.  , 38.  , 26.  , 35.  , 28.  ,  2.  , 27.  , 14.  ,  4.  ,
        20.  , 39.  , 14.  ,  2.  , 28.  , 31.  , 28.  , 35.  , 28.  ,
        38.  , 28.  , 19.  , 28.  , 28.  , 40.  , 28.  , 28.  , 66.  ,
        28.  , 42.  , 28.  , 14.  , 40.  , 27.  , 28.  ,  3.  , 28.  ,
        28.  , 28.  , 18.  ,  7.  , 49.  , 29.  , 65.  , 28.  , 21.  ,
        28.5 , 11.  , 22.  , 38.  , 45.  ,  4.  , 28.  , 19.  , 17.  ,
        26.  , 32.  , 21.  , 32.  , 25.  , 28.  , 28.  ,  0.83, 30.  ,
        22.  , 29.  , 28.  , 28.  , 16.  , 28.  , 23.  , 24.  , 46.  ,
        59.  , 28.  , 71.  , 23.  , 34.  , 34.  , 28.  , 28.  , 21.  ,
        33.  , 37.  , 28.  , 28.  , 28.  , 47.  , 14.5 , 22.  , 17.  ,
        21.  , 70.5 , 29.  , 24.  , 28.  , 32.5 , 32.5 , 28.  , 24.  ,
        45.  , 20.  , 47.  , 23.  , 19.  , 37.  , 16.  , 24.  , 28.  ,
        22.  , 19.  , 18.  ,  9.  , 51.  , 55.5 , 40.5 , 28.  , 51.  ,
        16.  , 28.  , 28.  , 44.  , 26.  , 17.  ,  1.  , 28.  , 28.  ,
         4.  , 18.  , 28.  , 50.  , 30.  , 36.  , 28.  , 28.  ,  9.  ,
         4.  , 28.  , 45.  , 36.  , 32.  , 19.  ,  3.  , 44.  , 58.  ,
        28.  , 28.  , 24.  , 28.  , 28.  , 34.  ,  2.  , 32.  , 26.  ,
        16.  , 40.  , 35.  , 22.  , 28.  , 31.  , 27.  , 42.  , 30.  ,
        16.  , 51.  , 22.  , 19.  , 20.5 , 18.  , 28.  , 35.  , 29.  ,
        59.  , 28.  , 44.  , 19.  , 33.  , 28.  , 28.  , 22.  , 30.  ,
        44.  , 24.  , 28.  , 29.  , 30.  , 41.  , 28.  , 35.  , 50.  ,
        28.  ,  3.  , 40.  , 28.  , 36.  , 16.  , 25.  , 58.  , 35.  ,
        28.  , 25.  , 41.  , 37.  , 28.  , 63.  , 45.  , 28.  ,  7.  ,
        35.  , 28.  , 16.  , 28.  , 26.  , 36.  , 24.  , 28.  , 50.  ,
        28.  , 19.  , 28.  , 28.  , 28.  , 17.  , 30.  , 30.  , 24.  ,
        18.  , 26.  , 28.  , 43.  , 24.  , 31.  , 40.  , 22.  , 27.  ,
        22.  , 28.  , 36.  , 61.  , 31.  , 28.  , 38.  , 28.  , 28.  ,
        29.  , 45.  , 45.  , 28.  , 25.  , 36.  , 24.  , 40.  , 28.  ,
        15.  , 25.  , 28.  , 28.  , 22.  , 38.  , 28.  , 28.  , 40.  ,
        29.  , 45.  , 35.  , 28.  , 60.  , 28.  , 28.  , 24.  , 18.  ,
        19.  , 28.  , 27.  , 19.  , 42.  , 32.  , 28.  , 18.  ,  1.  ,
        28.  , 17.  , 36.  , 21.  , 23.  , 24.  , 22.  , 31.  , 46.  ,
        23.  , 39.  , 26.  , 28.  , 34.  ,  3.  , 21.  , 28.  , 28.  ,
        28.  , 28.  , 44.  , 28.  , 34.  , 18.  , 30.  , 28.  , 21.  ,
        18.  , 19.  , 28.  , 32.  , 28.  , 28.  , 42.  , 17.  , 50.  ,
        14.  , 24.  , 64.  , 31.  , 45.  , 20.  , 28.  , 28.  , 34.  ,
         5.  , 52.  , 36.  , 30.  , 49.  , 29.  , 65.  , 28.  , 48.  ,
        34.  , 47.  , 28.  , 38.  , 56.  , 28.  ,  0.75, 28.  , 33.  ,
        23.  , 28.  , 34.  , 29.  ,  2.  ,  9.  , 28.  , 63.  , 25.  ,
        28.  , 35.  , 58.  ,  9.  , 28.  , 71.  , 21.  , 25.  , 17.  ,
        21.  , 37.  , 18.  , 33.  , 28.  , 26.  , 54.  , 24.  , 47.  ,
        34.  , 36.  , 32.  , 30.  , 22.  , 44.  , 28.  , 40.5 , 50.  ,
        28.  , 23.  ,  2.  , 17.  , 28.  , 30.  ,  7.  , 45.  , 30.  ,
        22.  , 36.  ,  9.  , 11.  , 50.  , 19.  , 28.  , 33.  , 17.  ,
        27.  , 28.  , 22.  , 48.  , 28.  , 39.  , 36.  , 28.  , 40.  ,
        28.  , 24.  , 19.  , 29.  , 32.  , 62.  , 53.  , 36.  , 16.  ,
        34.  , 25.  , 36.  , 47.  , 60.  , 28.  , 35.  , 52.  , 47.  ,
        28.  , 37.  , 36.  , 28.  , 49.  , 28.  , 49.  , 35.  , 36.  ,
        30.  , 27.  , 22.  , 40.  , 39.  , 28.  , 28.  , 35.  , 24.  ,
        34.  , 26.  , 20.  , 61.  , 57.  , 21.  , 26.  , 28.  , 80.  ,
        51.  , 32.  ,  9.  , 28.  , 32.  , 41.  , 28.  , 20.  , 28.  ,
         0.75, 48.  , 28.  , 23.  , 28.  , 18.  , 21.  , 24.  , 28.  ,
        32.  , 50.  , 47.  , 36.  , 20.  , 25.  , 28.  , 43.  , 40.  ,
        31.  , 31.  , 28.  , 18.  , 18.  , 36.  , 27.  , 20.  , 14.  ,
        60.  , 19.  , 18.  , 15.  , 31.  ,  4.  , 28.  , 60.  , 28.  ,
        49.  , 35.  , 25.  , 39.  , 22.  , 28.  , 24.  , 28.  , 48.  ,
        29.  , 19.  , 38.  , 27.  , 28.  , 33.  ,  6.  , 50.  , 27.  ,
        30.  , 25.  , 25.  , 29.  , 11.  , 28.  , 23.  , 23.  , 35.  ,
        28.  , 28.  , 36.  , 21.  , 24.  , 70.  ,  4.  ,  6.  , 33.  ,
        23.  , 48.  , 28.  , 34.  , 28.  , 41.  , 20.  , 51.  , 28.  ,
        28.  , 32.  , 48.  , 57.  , 18.  , 28.  ,  5.  , 17.  , 29.  ,
        28.  , 25.  ,  1.  , 46.  , 28.  , 16.  , 28.  , 28.  , 25.  ,
        39.  , 49.  , 31.  , 30.  , 30.  , 34.  , 31.  , 11.  , 31.  ,
        39.  , 39.  , 33.  , 26.  , 39.  , 35.  , 30.5 , 28.  , 23.  ,
        31.  , 10.  , 52.  , 27.  ,  2.  , 28.  , 28.  , 28.  , 15.  ,
        28.  , 23.  , 18.  , 39.  , 21.  , 28.  , 28.  , 16.  , 30.  ,
        34.5 , 42.  , 28.  , 35.  , 28.  , 28.  ,  4.  , 16.  , 18.  ,
        45.  , 51.  , 24.  , 41.  , 24.  , 42.  , 27.  , 31.  ,  4.  ,
        26.  , 47.  , 33.  , 47.  , 28.  , 15.  , 20.  , 19.  , 28.  ,
        22.  , 28.  , 25.  , 19.  , 28.  , 32.  ]),
 'n_siblings_spouses': array([1, 1, 0, 1, 0, 3, 0, 1, 1, 0, 1, 0, 4, 0, 1, 0, 0, 0, 1, 0, 3, 0,
        0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 2, 1, 4, 1, 1, 0, 0,
        0, 0, 5, 0, 0, 1, 3, 1, 0, 4, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 3, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 0, 0, 1, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 2, 0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 4, 0, 0, 4, 1, 3, 0, 0, 0,
        8, 0, 4, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 8, 0, 0, 1, 0, 0,
        0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 3, 1, 0, 0, 0, 1, 0, 0,
        1, 1, 0, 0, 2, 0, 0, 1, 1, 0, 0, 0, 0, 0, 4, 0, 0, 0, 4, 1, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 4, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 0, 0, 2, 1, 0, 1, 1, 0, 1, 0, 0, 1, 8, 0, 0, 1, 2, 0, 1,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 5, 0, 0, 1, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 1, 1, 1, 0, 3, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 1, 1, 0, 1, 1, 2, 1, 0, 1, 0, 0, 0, 0, 2, 0, 1, 0, 1, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 0, 1, 1, 0, 5, 0, 0, 1, 3,
        1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 4, 4, 1, 1, 0, 1, 0,
        0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
        1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 1, 0, 0, 2, 1, 0,
        0, 0, 0, 0, 2, 0, 1, 2, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 5, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 3, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 1, 1,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
        0, 1, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 1, 3, 1, 0, 4, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 8, 0, 0, 1, 4, 0, 0, 1, 0, 0, 2, 0, 0, 1, 0, 1, 0, 1, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], dtype=int64),
 'parch': array([0, 0, 0, 0, 0, 1, 2, 0, 1, 0, 5, 0, 1, 0, 0, 0, 0, 0, 5, 0, 2, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 1, 0,
        0, 0, 2, 0, 0, 0, 2, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
        0, 3, 0, 2, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0,
        0, 2, 0, 0, 2, 0, 1, 0, 0, 2, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0,
        2, 0, 2, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 2, 0, 1, 0, 2, 0, 0, 1, 0, 2, 0, 0, 0, 1, 0, 1, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 2, 1, 0, 1, 0, 2, 1, 0, 0, 1, 2, 0, 0, 1, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 4, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 2, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 2, 3, 4, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 1, 2, 0, 0, 0, 1,
        0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 1, 1, 1, 2, 0, 2, 0, 0, 2, 2, 2, 2, 0, 0, 0, 1, 2,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 0, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 5, 0, 0, 0,
        2, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 5, 0, 0, 0, 1, 0, 0,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
        0, 2, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1,
        1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2,
        0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 1, 2, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 2, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 2, 0, 1, 0, 2, 1, 1, 1, 0, 3, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0], dtype=int64),
 'fare': array([  7.25 ,  71.283,   7.925,  53.1  ,   8.458,  21.075,  11.133,
         30.071,  16.7  ,   8.05 ,  31.275,   7.854,  29.125,  13.   ,
         18.   ,   7.225,  26.   ,  35.5  ,  31.387,   7.225, 263.   ,
          7.879,   7.896,  27.721, 146.521,   7.75 ,  10.5  ,  82.171,
         52.   ,   7.229,  11.242,   9.475,  21.   ,   7.896,  41.579,
          8.05 ,  15.5  ,  21.679,  17.8  ,  39.688,  76.729,  26.   ,
         61.979,  35.5  ,  10.5  ,   7.229,  46.9  ,   7.229,  80.   ,
         83.475,  27.9  ,  15.246,   8.158,   7.925,   8.662,  10.5  ,
         73.5  ,  56.496,   7.65 ,   7.896,   8.05 ,  29.   ,  12.475,
          9.   ,   9.5  ,   7.787,  47.1  ,  34.375,   8.05 , 263.   ,
          8.05 ,  61.175,   7.25 ,   8.05 ,  34.654,  63.358,  23.   ,
         26.   ,   7.896,   7.896,  77.287,   8.654,   7.925,   7.896,
          7.775,  24.15 ,  52.   ,  14.454,   8.05 ,  14.458,   7.925,
          7.75 ,  21.   , 247.521,   8.05 ,  30.071,  13.   ,   7.75 ,
          7.142,   6.975,   7.05 ,  14.5  ,  15.046,  26.283,  53.1  ,
          9.217,  79.2  ,  15.246,   7.75 ,   6.75 ,  11.5  ,  34.375,
         12.525,   8.05 ,  14.5  ,   7.312,  61.379,   7.733,   8.662,
         69.55 ,  16.1  ,   7.775,   8.662,  39.688,  55.   ,  56.496,
         29.125,   7.854,  25.467,  28.712,  13.   ,   0.   ,  69.55 ,
         15.05 ,  31.387,  22.025,  15.5  ,  26.55 ,   7.896,  13.   ,
          7.854,  26.   ,  27.721, 146.521,   7.75 ,   7.75 ,  13.   ,
          9.5  ,  69.55 ,   6.496,  10.463,  15.85 ,  18.788,   7.75 ,
         31.   ,  21.   ,   7.25 ,   7.75 , 113.275,   7.925,  27.   ,
         10.5  ,   8.05 ,   8.05 ,   9.35 ,  10.5  ,   7.25 ,  13.   ,
         25.467,  83.475,   7.775,  13.5  ,   7.55 ,  26.   ,  10.5  ,
         12.275,  14.454,  15.5  ,   7.125,   7.225,  90.   ,  14.5  ,
          7.25 ,  10.463,  16.1  ,  20.212,  79.2  , 512.329,  26.   ,
          7.75 ,  31.387,   0.   ,   7.75 ,  10.5  ,  39.688,   7.775,
        153.463, 135.633,  31.   ,   0.   ,  19.5  ,  29.7  ,   7.75 ,
         77.958,   7.75 ,   0.   ,  29.125,  20.25 ,   7.854,   9.5  ,
         26.   ,  78.85 ,  12.875,   7.896,  30.5  , 247.521,   7.75 ,
          0.   ,  12.35 ,   8.05 , 110.883, 108.9  ,  24.   ,  56.929,
         83.158, 262.375,  26.   ,   7.896,  26.25 ,  26.   , 164.867,
        134.5  ,   7.25 ,   7.896,  29.   ,  69.55 , 135.633,   6.237,
         20.525,  23.25 , 153.463, 133.65 ,   7.896,  66.6  ,   8.05 ,
         35.5  ,  13.   ,  13.   ,  13.   ,  13.   ,  13.   ,  16.1  ,
          7.229,  17.8  ,   7.225,   9.5  ,  55.   ,  13.   ,   7.879,
          7.879,  27.9  ,  27.721,  14.454,   7.05 ,  15.5  ,  75.25 ,
          7.229,   7.75 ,  69.3  ,   6.496,   8.05 ,  82.171, 211.5  ,
          7.775, 227.525,   7.925,   7.896,  73.5  ,  46.9  ,   7.729,
         12.   , 120.   ,   7.796, 113.275,  16.7  ,   7.796,   7.854,
         26.   ,  10.5  ,   7.925,   8.05 ,  15.85 ,  21.   ,  18.75 ,
          7.775,  25.467,   7.896,   6.858,   0.   ,   7.925,   8.05 ,
         32.5  ,  13.   ,  13.   ,   7.896,   7.733,  20.212,  26.   ,
          7.75 ,   8.05 ,  26.55 ,  16.1  ,  26.   ,   7.125,  55.9  ,
        120.   ,  18.75 , 263.   ,  10.5  ,  26.25 ,   9.5  ,  13.   ,
          8.113,  26.55 ,  19.258,  30.5  ,  27.75 ,  27.75 ,  89.104,
          7.896,  26.55 ,  51.862,  26.55 ,   8.05 ,  38.5  ,   8.05 ,
          7.05 ,  26.55 ,   7.725,  19.258,   7.25 ,  27.75 ,  13.792,
         52.   ,  21.   ,   7.046,  12.287,  46.9  ,   0.   ,   9.588,
         91.079,  25.467,  90.   ,  29.7  ,  15.9  ,  19.967,  49.504,
          8.05 , 151.55 ,   8.662,   7.75 ,   9.588, 108.9  ,  26.   ,
         26.55 ,  56.496,  59.4  ,   7.496,  34.021,  10.5  ,  26.   ,
          7.896,  93.5  ,   7.896,  57.979,   7.229,   7.75 ,  10.5  ,
        221.779,  11.5  ,  26.   ,   7.229,  22.358,   8.662,  26.25 ,
         26.55 , 106.425,  49.5  ,  71.   ,  31.275,  31.275, 106.425,
         26.   ,  13.863,  20.525, 110.883,  26.   ,   7.829,   7.775,
         39.6  , 227.525,  79.65 ,  17.4  ,   7.75 ,   7.896,   8.05 ,
         24.15 ,   7.896,  21.075,   7.854,  10.5  ,  51.479,  26.387,
          8.05 ,  13.   ,  30.   ,  40.125,  15.   ,  79.2  ,   8.05 ,
          7.125,  78.267,   7.25 ,   7.75 ,  26.   ,  24.15 ,  33.   ,
          0.   ,   7.225,  56.929,  26.55 ,  15.55 ,   7.896,  30.5  ,
         41.579, 153.463,  31.275,   7.05 ,  15.5  ,   8.05 ,  65.   ,
         14.4  ,  10.5  ,  15.742,  32.321,  12.35 ,  77.958,   7.896,

In [49]:
slices(titanic_features_dict)

In [47]:
for example in slices(titanic_features_dict):
  for name, value in example.items():
    print(f"{name:19s}: {value}")
  break

sex                : male
age                : 22.0
n_siblings_spouses : 1
parch              : 0
fare               : 7.25
class              : Third
deck               : unknown
embark_town        : Southampton
alone              : n

In [ ]:
features_ds = tf.data.Dataset.from_tensor_slices(titanic_features_dict)

In [ ]:
for example in features_ds:
  for name, value in example.items():
    print(f"{name:19s}: {value}")
  break

In [ ]:
titanic_ds = tf.data.Dataset.from_tensor_slices((titanic_features_dict, titanic_labels))

In [ ]:
titanic_batches = titanic_ds.shuffle(len(titanic_labels)).batch(32)

In [ ]:
titanic_model.fit(titanic_batches, epochs=5)

In [ ]:
titanic_file_path = tf.keras.utils.get_file("train.csv", "https://storage.googleapis.com/tf-datasets/titanic/train.csv")

In [ ]:
titanic_csv_ds = tf.data.experimental.make_csv_dataset(
    titanic_file_path,
    batch_size=5, # Artificially small to make examples easier to show.
    label_name='survived',
    num_epochs=1,
    ignore_errors=True,)

In [ ]:
for batch, label in titanic_csv_ds.take(1):
  for key, value in batch.items():
    print(f"{key:20s}: {value}")
  print()
  print(f"{'label':20s}: {label}")